<header>
    <nav class="header-nav">
        <a class="header-title" href ="/">DFW Coffee Shops</a>
        <ul>
            <li><a href="/coffeeshops">Coffee Shops</a></li>
            <li><a href="/coffeeshops/new">Add Coffee Shop</a></li>
            <li><a href="/cities">Cities</a></li>
            <li><a href="/cities/new">Add City</a></li>
        </ul>
    </nav>
</header>