<h2>Recently Visited</h2>
<div>
    <% coffeeshops.forEach(coffeeshop => { %>
        <a href="/coffeeshops/<%= coffeeshop.id %>">
            <div><%= coffeeshop.Name %></div>
        </a>
    <% }) %>
</div>