<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value = "<%= city.Name %>">
    </div>
    <div class="form-item">
        <label>State</label>
        <input type="text" name="state" value = "<%= city.State %>">
    </div>
</div>