<h2 class="page-header">Edit City</h2>
<form action="/cities/<%= city.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/cities/<%= city.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>