:root {
    --color-button-primary-text: hsl(var(--color-base-hue), 100%, 40%);
    --color-button-primary-text-dark: hsl(var(--color-base-hue), 100%, 30%);
    --color-button-primary-background: hsl(var(--color-base-hue), 100%, 85%);
    --color-button-primary-background-dark: hsl(var(--color-base-hue), 100%, 75%);
    --color-button-danger-text: hsl(var(--color-danger-hue), 100%, 40%);
    --color-button-danger-text-dark: hsl(var(--color-danger-hue), 100%, 30%);
    --color-button-danger-background: hsl(var(--color-danger-hue), 100%, 85%);
    --color-button-danger-background-dark: hsl(var(--color-danger-hue), 100%, 75%);
    --color-button-border: none;
}

.btn {
    border: 1px solid var(--color-button-border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Avenir Next LT Pro';
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

/* selects all buttons in the row */
.btn-row > * {
    margin-left: 1rem;
}

.btn-row > *:first-child {
    margin-left: 0;
}

.btn-primary {
    color: var(--color-button-primary-text);
    background-color: var(--color-button-primary-background);
}

.btn-primary:hover {
    color: var(--color-button-primary-text-dark);
    background-color: var(--color-button-primary-background-dark);
}

.btn-danger {
    color: var(--color-button-danger-text);
    background-color: var(--color-button-danger-background);
}

.btn-danger:hover {
    color: var(--color-button-danger-text-dark);
    background-color: var(--color-button-danger-background-dark);
}